<head>
  <nav>
    <a href="/">Wolon</a>
    <ul>
      <li><a href="/volunteer">volunteers</a></li>
      <li><a href="/volunteer/new">new volunteer</a></li>
      <li><a href="/helpSeeker">help-seekers</a></li>
      <li><a href="/helpSeeker/new">new help-seeker</a></li>
    </ul>
  </nav>
</head>
