<div class="cont">
  <div class="demo">
    <div class="login">
      <div class="login__header"></div>
      <div class="login__form" method="POST">
        <div class="login__row">
          <a href="/volunteer/new" id="linkButton">
            <div class="login__submit">register as a volunteer</div>
          </a>
        </div>
        <div class="login__row">
          <a href="/helpSeeker/new" id="linkButton">
            <div class="login__submit">register as a HelpSeeker</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
