<h2 class="page-header">Search HelpSeekers</h2>
<form action="/helpSeeker" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>First Name</label>
      <input
        type="text"
        name="firstName"
        value="<%= searchOptions.firstName %>"
      />
    </div>
    <div class="form-item">
      <label>Last Name</label>
      <input
        type="text"
        name="lastName"
        value="<%= searchOptions.lastName %>"
      />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br />

<%- include('../partials/picGridHelpSeeker', { helpSeekers: helpSeekers, large:
true }) %>
