<div class="cont">
  <div class="demo">
    <div class="login">
      <form class="register__form" action="/helpSeeker" method="POST">
        <%- include("_form_fields.ejs") %>
        <div id="registerBox">
          <a href="/helpSeeker" id="linkButton">
            <div class="register__submit">Cancel</div>
          </a>
          <button class="register__submit" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
