<h2>New Volunteer</h2>
<form action="/volunteer" method="POST">
  <%- include("_form_fields.ejs") %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/volunteer">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
